@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text-color: #F7F7F7;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background: #0C0E12;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    line-height: 43.57px;
    padding: 2rem;
}

#title{
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    line-height: 43.57px;
    height: fit-content;
}

#footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    padding: 0 2rem 2rem 0;
}

#addEntryBtn, #infoBtn, #returnBtn{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    line-height: 43.57px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

#returnBtn{
    text-transform: capitalize;
}

#addEntryBtn > i{
    font-weight: 100;
}

/* ENTRY */
#entries{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}

.entry{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: rgb(134, 122, 99);
    text-align: center;
    cursor: pointer;
}

.entry h2{
    flex-grow: 1;
    width: 262px;
    margin: 2rem auto;
}

.entry > div{
    padding: 1rem 2rem;
}

#entryFull .title, #entryFull .authorLocation{
    text-align: center;
    margin: 3rem auto 2rem auto;
    width: 262px;
}

.shareBtn{
    float: right;
    cursor: pointer;
}

.entryFull{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: #0C0E12CF;
}

.entryFull .container{
    height: 880px;
    width: 806px;
    display: flex;
    flex-direction: column;
}

.entryFull .container .description{
    flex-grow: 1;
    width: 90%;
    margin: auto;
}

.entryFull .footer{
    margin: 1rem 2rem;
}

/* ENTRY FORM */
.newEntryForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.newEntryForm > div{
    background: wheat;
    padding: 2rem;
    border-radius: 1rem;
}

.newEntryForm h2{
    margin-bottom: 1rem;
}

.newEntryForm .line{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.newEntryForm .buttons{
    display: flex;
    justify-content: space-between;
}

/* ENTRY FULL */
#entryFull{
    z-index: 10000;
}

/* TICKET MACHINE */
.machineContainer{
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    justify-content: center;
}

#ticketMachine{
    text-align: center;
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

/* NEW ENTRY */
.newContent{
    width: 980px;
    margin: auto;
    padding-right: 3rem;
}

.newContent h1{
    font-family: "Libre Baskerville", serif;
    font-size: 80.39px;
    font-weight: 400;
    line-height: 100.49px;
    text-align: center;
}

.newContent div .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.newContent div .list div{
    width: 220px;
    height: 136px;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#navBtns{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
    width: -webkit-fill-available;
    padding: 0 2rem 2rem 0;
}

#navBtns span{
    cursor: pointer;
}

#font, #style, #page{
    position: absolute;
    bottom: 0;
    width: 980px;
    height: 1068px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#page form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 6rem;
}

#newTitle{
    width: fit-content;
    text-align: center;
    background: transparent;
    border: none;
    text-decoration: none;
    margin: 4rem auto;
}

#newDescription{
    font-size: 18px;
    width: 720px;
    background: transparent;
    border: none;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;

    flex-grow: 1;
    resize: none;
    min-height: 150px;
}

#newAuthor, #newLocation{
    font-size: 18px;
    width: -webkit-fill-available;
    text-align: center;
    background: transparent;
    border: none;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    opacity: 60%;
}

#newAuthor{
    margin-bottom: 1rem;
}

#newTitle:focus, #newDescription:focus, #newAuthor:focus, #newLocation:focus{
    outline: none;
}

#newTitle::placeholder, #newDescription::placeholder, #newAuthor::placeholder, #newLocation::placeholder{
    color: var(--custom-color);
    opacity: 1;
}

#info .content{
    width: -webkit-fill-available;
    max-width: 800px;
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    float: right;
    margin-right: 4rem;
}

#shareContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
}

#share{
    width: 544px;
    height: 224px;
    background: #FFFFFF;
    color: #181D27;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#share .shareClose{
    text-align: end;
    margin-right: 2rem;
    color: #A4A7AE;
    cursor: pointer;
}

#share p{
    margin: 1rem;
    color: #181D27;
}

#share .shareBtns{
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    font-size: 19.15px;
}

#share .shareBtns i{
    color: #A4A7AE;
}

/* GENERAL */
.d-none{
    display: none !important;
}

#notification {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    color: #181D27;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10001;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#notification.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 355px) {
    #title{
        color: red;
    }
}