@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text-color: #F7F7F7;
}

body{
    margin: 0;
    overflow: hidden;
    background: #0C0E12;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    line-height: 43.57px;
    padding: 2rem;
}

#title{
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    line-height: 43.57px;
    height: fit-content;
    text-decoration: none;
    position: sticky;
    z-index: 100;
}

#title:hover{
    opacity: .7;
}

#slogan{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-family: 'Libre Baskerville';
    font-weight: 400;
    font-size: 80.39px;
    line-height: 100.49px;
    max-width: 806px;
    margin: 0;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

#addEntryBtn, #infoBtn, #returnBtn{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    line-height: 43.57px;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 100;
}

#addEntryBtn{
    position: absolute;
    left: 2rem;
}

#infoBtn{
    position: absolute;
    right: 2rem;
}

#moreBtn{
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 43.57px;
    border-radius: 12px;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

#moreBtn:hover{
    background: #FFFFFF;
    color: #000000;
}

#addEntryBtn:hover, #infoBtn:hover, #returnBtn:hover{
    opacity: .7;
}

#returnBtn{
    text-transform: capitalize;
    position: absolute;
    left: 2rem;
    bottom: 1rem;
}

#addEntryBtn > i{
    font-weight: 100;
}

/* ENTRY */
#entries{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
}

.entry{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: rgb(134, 122, 99);
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 3.3px 7.14px 0px #0000001A, 0px 13.19px 13.19px 0px #00000017, 0px 29.12px 17.58px 0px #0000000D, 0px 52.19px 20.88px 0px #00000003, 0px 81.31px 23.07px 0px #00000000;

}

.entry h2{
    width: 262px;
    margin: 2rem auto;
}

.entry > p{
    height: 81px;
    overflow: hidden;
    line-height: 27px;
    padding: 0 2rem;
    position: relative;
}

.entry > p.overflowed + span{
    display: block;
}

.entry > p span{
    position: absolute;
    bottom: 0;
    right: 1.5rem;
}

.entry > div{
    padding: 1rem 2rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

#entryFull .title, #entryFull .authorLocation{
    text-align: center;
    margin: 1rem auto .5rem auto;
    width: 262px;
}

#entryFull .authorLocation{
    opacity: 0.6;
}

#entryFull .shareClose{
    display: none;
}

.shareBtn{
    float: right;
    cursor: pointer;
}

.entryFull{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: #0C0E12CF;
}

.entryFull .container{
    max-height: 880px;
    width: 806px;
    display: flex;
    flex-direction: column;
}

.entryFull .container .description{
    flex-grow: 1;
    width: 85%;
    margin: auto;
    line-height: 28px;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.entryFull .footer{
    margin: 1rem 2rem;
}

/* ENTRY FORM */
.newEntryForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.newEntryForm > div{
    background: wheat;
    padding: 2rem;
    border-radius: 1rem;
}

.newEntryForm h2{
    margin-bottom: 1rem;
}

.newEntryForm .line{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.newEntryForm .buttons{
    display: flex;
    justify-content: space-between;
}

/* ENTRY FULL */
#entryFull{
    z-index: 10000;
}

/* TICKET MACHINE */
.machineContainer{
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    justify-content: center;
}

#ticketMachine{
    text-align: center;
    background: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
}

/* NEW ENTRY */
.newContent{
    width: 1100px;
    margin: auto;
}

.newContent h1{
    font-family: "Libre Baskerville", serif;
    font-size: 80.39px;
    font-weight: 400;
    line-height: 100.49px;
    text-align: center;
}

.newContent div .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#font .list{
    gap: 2rem;
}

.newContent div .list div{
    width: 220px;
    height: 136px;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 1rem;
    opacity: .5;
    transition: transform 0.3s ease;
}

.newContent div .list div:hover{
    transform: scale(1.1);
}

#navBtns{
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    position: absolute;
    bottom: 0;
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 0 2rem 2rem 0;
}

#navBtns > span{
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

#font, #style, #page{
    position: absolute;
    width: 1100px;
    height: 1068px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#page{
    max-height: 85%;
    bottom: 0;
    max-width: 95%;
}

#page form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 6rem;
}

#newTitle{
    width: fit-content;
    text-align: center;
    background: transparent;
    border: none;
    text-decoration: none;
    margin: 4rem auto;
}

#newDescription{
    font-size: 18px;
    width: 720px;
    background: transparent;
    border: none;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 28px;
    margin: 0 auto;
    margin-bottom: 1rem;

    flex-grow: 1;
    resize: none;
    min-height: 150px;
}

#newAuthor, #newLocation{
    font-size: 18px;
    width: -webkit-fill-available;
    text-align: center;
    background: transparent;
    border: none;
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 24px;
    opacity: 60%;
}

#newAuthor{
    margin-bottom: 1rem;
}

#newTitle:focus, #newDescription:focus, #newAuthor:focus, #newLocation:focus{
    outline: none;
}

#newTitle::placeholder, #newDescription::placeholder, #newAuthor::placeholder, #newLocation::placeholder{
    color: var(--custom-color);
    opacity: 1;
}

#info .content{
    width: -webkit-fill-available;
    max-width: 800px;
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 34px;
    float: right;
    margin-right: 5rem;
}

#shareContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
}

#share{
    width: 544px;
    height: 224px;
    background: #FFFFFF;
    color: #181D27;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.closeContainer{
    display: flex;
    justify-content: end;
}

#share .shareClose{
    text-align: end;
    margin-right: 2rem;
    color: #A4A7AE;
    cursor: pointer;
    margin-top: 2rem;
}

#share p{
    margin: 1rem;
    color: #181D27;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#share .shareBtns{
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    font-size: 19.15px;
    margin-bottom: 1rem;
}

#share .shareBtns i{
    color: #A4A7AE;
}

/* GENERAL */
.d-none{
    display: none !important;
}

#notification {
    width: 200px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    color: #181D27;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10001;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#notification.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 450px) {
    body{
        padding: 0;
    }

    #title{
        font-size: 16.55px;
        line-height: 20.03px;
        width: 200px;
        display: block;
        margin: 1rem 0 0 1rem;
    }

    #slogan{
        right: 1rem;
        top: 3rem;
        font-size: 36px;
        line-height: 44px;
        max-width: 325px;
    }

    #info .content{
        font-size: 13px;
        line-height: 16.12px;
        width: 241px;
        margin-right: 2rem;
        max-width: 80%;
        max-height: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #addEntryBtn, #infoBtn, #returnBtn, #moreBtn {
        font-size: 16.55px;
        line-height: 20.03px;
    }

    #addEntryBtn{
        left: 1rem;
    }
    
    #infoBtn{
        right: 1rem;
    }

    #returnBtn{
    left: 1rem;
    bottom: 0;
}

    #footer {
        align-items: end;
    }

    #moreBtn{
        padding: .7rem;
        margin-bottom: 2.5rem;
    }

    #info #footer {
        padding: 0 1rem 1rem 1rem;
    }

    .entry h2 {
        flex-grow: 1;
        width: 90%;
        margin: 1rem auto;

        font-size: 11.42px !important;
        line-height: 9.14px !important;
    }

    .entry > div{
        padding: .5rem .5rem;

        font-size: 5.71px !important;
        line-height: 8.57px !important;
    }

    .entry > div .shareBtn{
        margin-top: 1rem;
    }

    .entryFull .container {
        height: 80%;
        width: 95%;
    }

    #entryFull .title, #newTitle{
        margin: 1rem auto;
        max-width: 100%;

        font-size: 24px !important;
        line-height: 32px !important;
    }

    .entryFull .container .description {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    #entryFull .authorLocation {
        margin: 1rem auto;
        width: 100%;

        font-size: 16px !important;
        line-height: 24px !important;
    }

    #entryFull .shareBtn {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    #entryFull .footer {
        margin: 1rem 2rem 2rem 2rem;
    }

    #entryFull .shareClose{
        display: inherit;
        color: #A4A7AE;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 12px;
    }

    #navBtns {
        padding: 0 1rem 1rem 1rem;
    }

    #navBtns span{
        font-size: 16.36px !important;
        line-height: 19.8px !important;
    }

    .newContent{
        width: 95%;
    }

    .newContent > div{
        position: inherit !important;
        width: 100% !important;
    }

    #page{
        position: absolute !important;
        bottom: 3rem !important;
        width: 95% !important;
        max-height: 79% !important;
    }

    .newContent h1 {
        font-size: 36px !important;
        line-height: 44px !important;
    }

    .newContent div .list {
        max-height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 0 auto;
        padding-top: 10px;
    }

    .newContent .font-type, .newContent .style-type {
        width: 150px !important;
        height: 71.82px !important;
        transition: transform 0.3s ease;
    }

    .newContent .font-type p, .newContent .style-type p {
        font-size: 20.47px !important;
        line-height: 25.38px !important;
    }

    #page {
        height: 81vh;
    }

    #page form {
        padding-bottom: 2rem;
    }

    #newDescription{
        font-size: 16px !important;
        line-height: 24px !important;
        margin: 0 1rem;
        width: 90%;
    }

    #newAuthor {
        margin-bottom: .5rem;
    }

    #newAuthor, #newLocation {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    #share {
        width: 246px;
        height: 340px;
    }

    #notification.show {
        font-size: 13px;
    }

    .entry > p {
        font-size: 8px;
        line-height: 12px;
    }
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: 'transparent'; /* Fondo de la pista transparente */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece; /* Color de la barra de desplazamiento */
    border-radius: 10px;       /* Borde redondeado de la barra */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bdbdbd; /* Color de la barra al pasar el cursor */
}